.home-container {
    display: flex;
    justify-content: center;

    background-image: url(img/home-bg.svg);
    background-size: 1150.28px;
    background-repeat: no-repeat;
    /* background-position: 365px 0; */
    background-position: 100% -100%;  
    

    /* padding-top: 85px; */
    /* height: 1024px; */
}

.home-elements-container {
    display: flex;
    justify-content: space-between;
    width: 1120px;
    column-gap: 27px;

    margin-top: 181px;

    margin-bottom: 226px;
}
.home-text-container {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: 27px;
    
}

.home-button-container {
    display: flex;
    justify-content: start;
    column-gap: 24px;
}
.home-button1{
    width: 200px;
    height: 52px;

    background: #161A25;
    border-radius: 10px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #FFFFFF;
    transition: .4s;
    
}
.home-button1:hover{
    transform: scale(1.06);
}
.home-button1:active{
    transform: scale(.8);
}

.home-button1 img{
    margin-left: 8px;
}
.home-button2{
    width: 200px;
    height: 52px;

    background: #ffffff;
    border: 3.5px solid #161A25;
    border-radius: 10px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #161A25;
    transition: .4s;
    
}
.home-button2:hover {
    transform: scale(1.06);
}
.home-button2:active {
    transform: scale(.8);
}

.home-img-container {
    
    flex-basis: 100%;
    padding-bottom: 99px;
}
.home-img-container img {
    width: 548px;
    /* width: 100%; */
    filter: drop-shadow(30px -2px 84px rgba(229, 208, 255, 0.25));
}

.home-main-text {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.02em;
    color: #000000;
    margin: 0;
}

.home-second-text {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
    letter-spacing: 0.03em;
    color: #000000;
    margin: 0;
}
.home-subtitle {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

@media screen and (max-width: 1536px) {
    .home-container {
        background-size: 1150.28px;
        background-repeat: no-repeat;
        background-position: 365px 0;

    }
    
    
}
@media screen and (max-width: 1140px) {
    .home-elements-container {
            width: 95%;
    }
    .home-img-container img {
        width: 100%;
    }
    
}

@media screen and (max-width: 924px) {
    .home-container {
        background-position: 50px -200px;
    }
    .home-img-container img {
        width: 548px;
    }

    .home-elements-container {
        flex-wrap: wrap; 
        flex-flow:column-reverse;
    }

    .home-img-container {
        display: flex;
        justify-content: center;
    }

    .home-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 47px;

    }
    .home-main-text {
        text-align: center;
    }

    .home-second-text {
        text-align: center;
    }

    .home-subtitle {
        text-align: center;
    }
}



@media screen and (max-width: 600px) {
    .home-img-container img {
            width: 90%;
        }
}    
@media screen and (max-width: 500px) {
    /* .home-container {
        background-position: 0px -500px;
    } */

    .home-elements-container {
        flex-wrap: wrap; 
        flex-flow:column-reverse;
        /* width: 90%; */

        margin-bottom: 0;
        margin-top: 126px;
    }

    /* .home-img-container {
        display: flex;
        justify-content: center;
    } */
    .home-img-container img {
        width: 260px;
    }

    .home-text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 24px;

    }
    .home-main-text {
        width: 312px;
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        text-align: center;
        letter-spacing: 0.01em;
    }

    .home-second-text {
        width: 312px;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
    
    }

    .home-button-container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        row-gap: 20px;
        width: 84%;
    }

    
    .home-button2 {
        width: 200px;
        height: 52px;

        background:transparent;
        border: none;
        border-radius: 10px;
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;
        color: #161A25;
        text-decoration: underline;

    }

    .home-subtitle {
        font-family: 'Fira Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #161A25;
        text-align:center;
        min-width: 312px;
    }
    .home-container {
        background-image: url(img/home-bg-mobile.svg);
        background-size: 492px 468px;
        background-position: 100% 0%;



        /* padding-top: 85px; */
        /* height: 1024px; */
    }
    
}

@media screen and (max-width:436px) {
    .home-container {
            background-image: url(img/home-bg-mobile.svg);
            background-size: 492px 468px;
            background-position: -50px -20px;
    
    
    
            /* padding-top: 85px; */
            /* height: 1024px; */
        }
}