.reds {
    height: 250px;
    background: red;
}

.greens {
    height: 250px;
    background: green;
}

body {
    background: #FFFCF2;
    overflow-x: hidden;
}

/* @media screen and (max-width: 415px) {
    body {
       width: 100vw;
       overflow-x: hidden;
    }
} */